
:root {
    --colorprincipal: #0F172A;
    --colorlink: #1a1446;
    --colorcardes: #24135f;

    --color: #8B5CF6;
    --colordetalhes: #EC4899;

    --textprincipal: #fff;
    --textsegundary: #1E293B;
}

section.contato {
    padding: 20px;
}

.redsesocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ec489a27;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
}