* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "principal";
    src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "segundary";
    src: url("../fonts/Open_Sans/static/OpenSans_SemiCondensed-SemiBold.ttf");
}

:root {
    --colorprincipal: #0F172A;
    --colorlink: #1a1446;
    --colorcardes: #24135f;

    --color: #8B5CF6;
    --colordetalhes: #EC4899;
    --accent: #38BD5CF6;

    --textprincipal: #fff;
    --textsegundary: #1E293B;
}

body {
    background: linear-gradient(#0F172A,#1a1446);
    color: var(--textprincipal);
    background-attachment: fixed;
    font-family: segundary;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--textprincipal);
}

main {
    max-width: 800px;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

main section.content {
    display: flex;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 10px;
}

.aside1 {
    background-color: #ffffff0c;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 40px;
    height: 300px;
}

.aside1 .perfil{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.h1f {
    margin-bottom: 20px;
    margin-left: 10px ;
    margin-top: 10px;
    background-image: linear-gradient(var(--color), var(--color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: principal;    
}

/* class do javascript*/

.h1f1 {
    margin-bottom: 10px;
    margin-left: 10px ;
    margin-top: 10px;
    font-size: 30px;
    background-image: linear-gradient(var(--color), var(--color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: principal;
}

/*Termina aqui a class do javascript*/

.p {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: principal;
}

/*termina aqui*/

.aside1 .imgdiv{
    width: 90px; 
    height: 90px;
    background-color: var(--colordetalhes);
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50%;  
}
/* Trabalhando no header*/

#input1 {
    height: 30px;
    width: 60px;
    border-radius: 8px;
    background-color: var(--colordetalhes);
    border-color: var(--colordetalhes);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#input1:hover {
    background-color: #d33c87ee;
    color: #fffbfb98;
}

.header1 {
    height: 35px;
    margin-bottom: 40px;
    width: 500px;
    align-content: center;
}

.header1 a{
    margin-left: 20px;
    font-size: 16px;
}

.header1 a:hover {
    color: #5a4fac;
}

.section2 {    
    background-color: #ffffff0c;
    padding: 10px 5px 20px 4px;
    border-radius: 10px;
}

.top {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.bottom {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
/*Area sobre mim*/
h3 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

div hr {
    margin-left: 10px;
}
.ctnt{
    margin-top: 40px;
}


@media all and (min-width: 52px) and (max-width: 555px) {
    

main section.content {
    box-shadow: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;

}

.aside1 {
    background-color: #ffffff0c;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 0px;
}

.aside1 .perfil{
    display: none;
    flex-direction: column;
}

.section2 {    
    background-color: #ffffff0c;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
    margin-right: 400px;
}


}


@media all and (min-width: 556px) and (max-width: 790px) {
    
main section.content {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}

.aside1 {
    background-color: #ffffff0c;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 0px;
}

.aside1 .perfil{
    display: none;
    flex-direction: column;
}

.section2 {    
    background-color: #ffffff0c;
    padding: 10px 5px 20px 4px;
    border-radius: 10px;
    margin: 0 auto;
}
}